<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>车源专线 - 雨花区产业园信息数据共享平台</title>

		<!-- Bootstrap -->
		<link href="../../../js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../../css/common/main.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<!--   header  -->
		@@include('../../common/header.html')
		<!--   /header  -->

		<!--   breadcrumb  -->
		<div class="m-breadcrumb">
			<div class="container">
				<div class="breadcrumb-main clearfix">
					<span>当前位置：</span>
					<ol class="breadcrumb">
						<li>
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">物流服务</a>
						</li>
						<li class="active">车源专线</li>
					</ol>
				</div>
			</div>
		</div>
		<!--   /breadcrumb  -->
		
		<!--   物流企业   -->
		<div class="m-enterprise m-logistics">
			<div class="container">
				<div class="clearfix">
					<div class="enterprise-left">
						
						
						<!--  筛选  -->
						<div class="m-enterprise-screen">
							<div class="screen-body">
								<div class="m-screen-body-main" id="index_screen">
									<div class="media">
										<div class="media-left">
											<span>起始地：</span>
										</div>
										<div class="media-body">
											<ul>
												<li class="active"><span>内蒙古</span></li>
												<li><span title="标准库">辽宁</span></li>
												<li><span title="恒温库">吉林</span></li>
												<li><span title="冷库">黑龙江</span></li>
												<li><span title="危险品">江苏</span></li>
												<li><span title="其他">浙江</span></li>
												<li><span title="其他">上海</span></li>
												<li><span title="其他">安徽</span></li>
												<li><span title="其他">福建</span></li>
												<li><span title="其他">广东</span></li>
												<li><span title="其他">湖南</span></li>
												<li><span title="其他">海南</span></li>
												<li><span title="其他">北京</span></li>
												<li><span title="其他">四川</span></li>
											</ul>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<span>目的地：</span>
										</div>
										<div class="media-body">
											<ul>
												<li class="active"><span>内蒙古</span></li>
												<li><span title="标准库">辽宁</span></li>
												<li><span title="恒温库">吉林</span></li>
												<li><span title="冷库">黑龙江</span></li>
												<li><span title="危险品">江苏</span></li>
												<li><span title="其他">浙江</span></li>
												<li><span title="其他">上海</span></li>
												<li><span title="其他">安徽</span></li>
												<li><span title="其他">福建</span></li>
												<li><span title="其他">广东</span></li>
												<li><span title="其他">湖南</span></li>
												<li><span title="其他">海南</span></li>
												<li><span title="其他">北京</span></li>
												<li><span title="其他">四川</span></li>
											</ul>
										</div>
									</div>
								</div>
							
							</div>
						</div>
						
						
						
						<!--   滚动   -->
						<div class="m-gundong" style="width: 100%;">
							<div class="m-enterprise-title"><span>车源专线</span></div>
							
							<!--  物流  -->
							<div class="logistics-list">
								<ul>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									<li>
										<a target="_blank" href="#">广东中山到广东深圳的货源，求车源<font>(快递货)</font></a>
										<b>车主：刘武胜</b>
										<span>2017-11-08 10:56</span>
									</li>
									
									
								</ul>
							</div>
							
							
							
							<!--   分页      -->
							<div class="m-pagination">
								<ul class="pagination-ul">
									<li class="disabled"><a>&laquo;</a></li>
								    <li><a href="#">1</a></li>
								    <li class="disabled"><a>2</a></li>
								    <li class="active"><a href="#">3</a></li>
								    <li><a href="#">4</a></li>
								    <li><a href="#">5</a></li>
								    <li><a href="#">&raquo;</a></li>
								</ul>
							</div>
								
							
						</div>
					</div>
					<!--   -->
					<div class="enterprise-right">
						
						<!--  申请商家入驻  -->
						<div class="enterprise-in">
							<a href="../login/register.html"><img src="../../../img/module/warehousing/enterprise001.png" /></a>
						</div>
						
						
						<!--   滚动   -->
						<div class="m-gundong" style="width: 100%;">
							<div class="m-enterprise-title"><span>动态货源</span><a href="#">更多</a></div>
							<ul>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
							</ul>
						</div>
						
						
						<!--   滚动   -->
						<div class="m-gundong" style="width: 100%;">
							<div class="m-enterprise-title"><span>动态车源</span><a href="#">更多</a></div>
							<ul>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
								<li>
									<a href="#">甘肃->北京</a>
									<b>2顿苹果</b>
									<span>2小时之前</span>
								</li>
							</ul>
						</div>
						
						
						
						<!--   滚动   -->
						<div class="m-gundong" style="width: 100%;">
							<div class="m-enterprise-title"><span>运费计算</span></div>
							<div class="logistics-js">
								<div><span>起始地：</span><div><input type="text" class="form-control" /></div></div>
								<div><span>目的地：</span><div><input type="text" class="form-control" /></div></div>
								<div><span>货物重量：</span><div><input type="text" class="form-control" />&nbsp;吨(选填)</div></div>
								<div><span>&nbsp;</span><div><input type="button" class="btn btn-info" value="运费计算" /></div></div>
								<div>
									<span>&nbsp;</span>
									<div>
										<p>起始地：<span>长沙</span></p>
										<p>目的地：<span>广州</span></p>
										<p>总公里数：<span>963.70</span>公里</p>
										<p>当日运价行情：<span>963.70</span>元/吨/公里</p>
										<p>中位重为：<span>68.62</span>吨</p>
										<p>您的货物重量：约<span>12.000</span>吨</p>
										<p>您咨询的总运费：<b>3000.27元~3300.95元</b></p>
									</div>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
		
		
		<!--   /物流企业   -->
		
		
		<!-- footer  -->
		@@include('../../common/footer.html')
		<!-- /footer  -->
		
		<script src="../../../js/common/jquery.js"></script>
		<script src="../../../js/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../js/module/logistics/logistics.js"></script>
		<script src="../../../js/lib/kefu/kefu.js"></script>
	</body>

</html>