<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>仓储企业详情 - 雨花区产业园信息数据共享平台</title>

		<!-- Bootstrap -->
		<link href="../../../js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../../css/common/main.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<!--   header  -->
		@@include('../../common/header.html')
		<!--   /header  -->

		<!--   breadcrumb  -->
		<div class="m-breadcrumb">
			<div class="container">
				<div class="breadcrumb-main clearfix">
					<span>当前位置：</span>
					<ol class="breadcrumb">
						<li>
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">仓储服务</a>
						</li>
						<li class="active">仓储企业</li>
					</ol>
				</div>
			</div>
		</div>
		<!--   /breadcrumb  -->
		
		<!--   仓储企业   -->
		<div class="m-enterprise-info">
			<div class="container">
				<div class="info-title">
					<div class="info-img">
						<div class="img-a">
							<div><img src="../../../img/common/enterprise.png" /></div>
							<p>企业名称</p>
						</div>
					</div>
					<div class="info-des">
						<h3>某某物流配送中心</h3>
						<p>某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心某某物流配送中心</p>
					</div>
					<div class="info-tell">
						<p><span>联系人：</span>刘经理</p>
						<p><span>电话 ：</span>刘经理</p>
						<p><span>地址：</span>刘经理</p>
						<p><span>网址：</span>刘经理</p>
						<p><span>邮箱：</span>刘经理</p>
					</div>
				</div>
				<div id="info_banner_nav" class="info-nav">
					<span class="active">业务范围</span>
					<span>荣誉资质</span>
				</div>
				<div id="info_body" class="info-body">
					<div class="body-one">业务范围</div>
					<div class="body-one">荣誉资质</div>
				</div>
			</div>
		</div>
		
		
		<!--   /仓储企业   -->
		
		
		<!-- footer  -->
		@@include('../../common/footer.html')
		<!-- /footer  -->
		
		<script src="../../../js/common/jquery.js"></script>
		<script src="../../../js/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../js/module/warehousing/enterprise-info.js"></script>
		<script src="../../../js/lib/kefu/kefu.js"></script>
	</body>

</html>