<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>仓储企业 - 雨花区产业园信息数据共享平台</title>

		<!-- Bootstrap -->
		<link href="../../../js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../../css/common/main.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<!--   header  -->
		@@include('../../common/header.html')
		<!--   /header  -->

		<!--   breadcrumb  -->
		<div class="m-breadcrumb">
			<div class="container">
				<div class="breadcrumb-main clearfix">
					<span>当前位置：</span>
					<ol class="breadcrumb">
						<li>
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">仓储服务</a>
						</li>
						<li class="active">仓储企业</li>
					</ol>
				</div>
			</div>
		</div>
		<!--   /breadcrumb  -->
		
		<!--   仓储企业   -->
		<div class="m-enterprise">
			<div class="container">
				<div class="clearfix">
					<div class="enterprise-left">
						<!--  筛选  -->
						<div class="m-enterprise-screen">
							<div class="screen-body">
								<div class="m-screen-body-main" id="index_screen">
									<div class="media">
										<div class="media-left">
											<span>仓库类型：</span>
										</div>
										<div class="media-body">
											<ul>
												<li class="active"><span>不限</span></li>
												<li><span title="标准库">标准库</span></li>
												<li><span title="恒温库">恒温库</span></li>
												<li><span title="冷库">冷库</span></li>
												<li><span title="危险品">危险品</span></li>
												<li><span title="其他">其他</span></li>
											</ul>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<span>仓库模式：</span>
										</div>
										<div class="media-body">
											<ul>
												<li class="active"><span>不限</span></li>
												<li><span>平库</span></li>
												<li><span>高台库</span></li>
												<li><span>楼库</span></li>
												<li><span>地下仓库</span></li>
												<li><span>立体库</span></li>
												<li><span>其他库</span></li>
											</ul>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<span>仓库星级：</span>
										</div>
										<div class="media-body">
											<ul>
												<li class="active"><span>不限</span></li>
												<li><span>五星仓</span></li>
												<li><span>四星仓</span></li>
												<li><span>三星仓</span></li>
												<li><span>普通仓</span></li>
												<li><span>其他</span></li>
											</ul>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<span>建筑标准：</span>
										</div>
										<div class="media-body">
											<ul>
												<li class="active"><span>不限</span></li>
												<li><span>混凝土</span></li>
												<li><span>地砖</span></li>
												<li><span>耐磨环氧</span></li>
												<li><span>防尘防潮</span></li>
												<li><span>防静电</span></li>
												<li><span>金刚砂</span></li>
												<li><span>其他</span></li>
											</ul>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<span>仓库面积：</span>
										</div>
										<div class="media-body">
											<ul>
												<li class="active"><span>不限</span></li>
												<li><span title="">1000平方米以下</span></li>
												<li><span title="">1000-5000平方米</span></li>
												<li><span title="">5000-1万平方米</span></li>
												<li><span title="">1万-5万平方米</span></li>
												<li><span title="">5万平方米以上平方米</span></li>
											</ul>
										</div>
									</div>
								</div>
							
							</div>
						</div>
						
						<!--   仓储企业展示     -->
						<div class="enterprise-list">
							<div class="m-enterprise-title"><span>仓储企业展示</span></div>
							<div class="list-ul">
								<ul>
									<li><a href="enterprise-info.html" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="enterprise-info.html" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="enterprise-info.html" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="enterprise-info.html" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="enterprise-info.html" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="#" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="#" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="#" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="#" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="#" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="#" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
									<li><a href="#" target="_blank"><div><img src="../../../img/common/enterprise.png" /></div><p>企业名称文字</p></a></li>
								</ul>
							</div>
							<!--   分页      -->
							<div class="m-pagination">
								<ul class="pagination-ul">
									<li class="disabled"><a>&laquo;</a></li>
								    <li><a href="#">1</a></li>
								    <li class="disabled"><a>2</a></li>
								    <li class="active"><a href="#">3</a></li>
								    <li><a href="#">4</a></li>
								    <li><a href="#">5</a></li>
								    <li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--   -->
					<div class="enterprise-right">
						<!--  申请商家入驻  -->
						<div class="enterprise-in">
							<a href="../login/register.html"><img src="../../../img/module/warehousing/enterprise001.png" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!--   /仓储企业   -->
		
		
		<!-- footer  -->
		@@include('../../common/footer.html')
		<!-- /footer  -->
		
		<script src="../../../js/common/jquery.js"></script>
		<script src="../../../js/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../js/module/warehousing/index.js"></script>
		<script src="../../../js/lib/kefu/kefu.js"></script>
	</body>

</html>