<!-- Modal -->
<div class="modal m-modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="m-modal-seek-info">
        	<h3>报价成功！</h3>
        	<p>企业名称：湖南房产有限公司</p>
        	<p>姓名：王先生</p>
        	<p>联系方式：13789997777</p>
        	<div class="info-btn">
        		<button type="button" class="btn btn-lg btn-default" data-dismiss="modal">取消</button>
        		<button type="button" class="btn btn-lg btn-primary">确定</button>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
