<!-- Modal -->
<div class="modal m-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">预约看仓</h4>
      </div>
      <div class="modal-body">
        <div class="m-modal-warehousing">
        	<div class="ware-title">
        		<p>仓库名称：仓库名称仓库名称仓库名称仓库名称</p>
        		<p>地址：湖南省长沙市</p>
        	</div>
        	<div class="ware-form clearfix">
        			<div class="col-xs-6">
        				<span><font color="red">*</font>联系人</span>
        				<input type="text" name="user" class="form-control" />
        			</div>
        			<div class="col-xs-6">
        				<span><font color="red">*</font>联系方式</span>
        				<input type="text" name="phone" class="form-control" />
        			</div>
        			<div class="col-xs-12">
        				<span>备注</span>
        				<textarea name="des" class="form-control" rows="4"></textarea>
        			</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-lg btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
