<!--  公共头   -->
<div class="m-header">
	<!--  头顶部   -->
	<div class="header-top">
		<div class="container clearfix">
			<div class="top-left">
				<span>您好，欢迎来到雨花区产业园信息数据共享平台！</span>
			</div>
			<div class="top-right">
				<a class="right-login" href="../../module/login/index.html"><i class="fa fa-user"></i>登录</a>
				<a class="right-register" href="../../module/login/register.html"><i class="fa fa-pencil"></i>注册</a>
				<a class="right-main" href="#"><i class="fa fa-star-o"></i>收藏</a>
			</div>
		</div>
	</div>

	<!--  logo main  -->
	<div class="header-main">
		<div class="container clearfix">
			<div class="main-logo">
				<a href="../../module/index/index.html"><img src="../../../img/common/logo.png" alt="" /></a>
				
			</div>
			
			<div class="main-p">
				<a><img src="../../../img/common/header-title.png" alt="" /></a>
			</div>
		</div>
	</div>

	<!--  nav   -->
	<div class="header-nav">
		<div class="container">
			<ul class="nav-ul">
				<li class="one">
					<div class="dropdown">
						<a href="../../module/index/index.html" class="btn btn-link dropdown-toggle" type="button">首页</a>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    招商载体
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">招商动态</a></li>
							<li><a href="#">招商项目</a></li>
							<li><a href="#">投资政策</a></li>
							<li><a href="#">投资指南</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    仓储服务
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li><a href="../../module/warehousing/index.html">仓库出租</a></li>
							<li><a href="../../module/warehousing/enterprise.html">仓储企业</a></li>
							<li><a href="../../module/warehousing/seek.html">仓库求租</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    物流服务
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
							<li><a href="#">物流企业</a></li>
							<li><a href="#">车源专线</a></li>
							<li><a href="#">货源专线</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    商贸资源
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
							<li><a href="#">入驻企业</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a href="#" class="btn btn-link dropdown-toggle" type="button">政务资源</a>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    政策速递
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
							<li><a href="#">国家级政策</a></li>
							<li><a href="#">地方性政策</a></li>
							<li><a href="#">规范文件</a></li>
							<li><a href="#">政策解读</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    关于我们
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
							<li><a href="../../module/about/index.html#about">园区介绍</a></li>
							<li><a href="../../module/about/index.html#tell">联系我们</a></li>
							<li><a href="../../module/about/index.html#job">人才招聘</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>