<!--  公共头   -->
<div class="m-header">
	<!--  头顶部   -->
	<div class="header-top">
		<div class="container clearfix">
			<div class="top-left">
				<span>您好，欢迎来到雨花区产业园信息数据共享平台！</span>
			</div>
			<div class="top-right">
				<a class="right-login" href="../../module/login/index.html"><i class="fa fa-user"></i>登录</a>
				<a class="right-register" href="../../module/login/register.html"><i class="fa fa-pencil"></i>注册</a>
				<a class="right-main" href="#"><i class="fa fa-star-o"></i>收藏</a>
			</div>
		</div>
	</div>

	<!--  logo main  -->
	<div class="header-main">
		<div class="container clearfix">
			<div class="main-logo">
				<a href="../../module/index/index.html"><img src="../../../img/common/logo.png" alt="" /></a>
				
			</div>
			
			<div class="main-p">
				<a><img src="../../../img/common/header-title.png" alt="" /></a>
			</div>
		</div>
	</div>

	<!--  nav   -->
	<div class="header-nav">
		<div class="container">
			<ul class="nav-ul">
				<li class="one">
					<div class="dropdown">
						<a href="../../module/index/index.html" class="btn btn-link dropdown-toggle" type="button">首页</a>
					</div>
				</li>
				<li class="one active">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    招商引资
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="../../module/investment/index.html">招商动态</a></li>
							<li><a href="../../module/investment/index.html">招商项目</a></li>
							<li><a href="../../module/investment/index.html">投资政策</a></li>
							<li><a href="../../module/investment/index.html">投资指南</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    仓储服务
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li><a href="../../module/warehousing/index.html">仓库出租</a></li>
							<li><a href="../../module/warehousing/enterprise.html">仓储企业</a></li>
							<li><a href="../../module/warehousing/seek.html">仓库求租</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    物流服务
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
							<li><a href="../../module/logistics/enterprise.html">物流企业</a></li>
							<li><a href="../../module/logistics/car-list.html">车源专线</a></li>
							<li><a href="../../module/logistics/goods-list.html">货源专线</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    信息公开
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
							<li><a href="../../module/overt/index.html">规划计划</a></li>
							<li><a href="../../module/overt/index.html">人事信息</a></li>
							<li><a href="../../module/overt/index.html">招投标</a></li>
							<li><a href="../../module/overt/index.html">重大项目</a></li>
							<li><a href="../../module/overt/index.html">应急管理</a></li>
							<li><a href="../../module/overt/index.html">行政行为</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a href="../../module/policy/index.html" class="btn btn-link dropdown-toggle" type="button">政策法规</a>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    机构介绍
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
							<li><a href="../../module/agency/index.html">机构介绍</a></li>
							<li><a href="../../module/agency/index.html">园区介绍</a></li>
							<li><a href="../../module/agency/index.html">内设机构</a></li>
						</ul>
					</div>
				</li>
				<li class="one">
					<div class="dropdown">
						<a class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    关于我们
					    <span class="caret"></span>
					  </a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
							<li><a href="../../module/about/index.html">园区介绍</a></li>
							<li><a href="../../module/about/tell.html">联系我们</a></li>
							<li><a href="../../module/about/job.html">人才招聘</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>