<div class="screen-body">
	<div class="m-screen-body-main" id="index_screen">
		<div class="media" style="margin-bottom: 10px;">
			<div class="media-left">
				<span>位置搜索：</span>
			</div>
			<div class="media-body">
				<input type="text" class="form-control" style="width: 300px; float: left;" placeholder="请输入搜索内容" value="仓库">
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="button" class="btn btn-info" value="搜索">
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>可租面积：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span title="1000平方米以下">1000平方米以下</span></li>
					<li><span title="1000平方米以下">1000平方米以下</span></li>
					<li><span title="1000平方米以下">1000平方米以下</span></li>
				</ul>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>仓库类型：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span>普通仓</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温温库</span></li>
					<li><span>恒温温库库</span></li>
					<li><span>恒温库恒温库恒温库</span></li>
					<li><span>恒温库恒温库</span></li>
				</ul>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>仓库模式：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span>普通仓</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温温库</span></li>
					<li><span>恒温温库库</span></li>
					<li><span>恒温库恒温库恒温库</span></li>
					<li><span>恒温库恒温库</span></li>
				</ul>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>仓库面积：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span>普通仓</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温温库</span></li>
					<li><span>恒温温库库</span></li>
					<li><span>恒温库恒温库恒温库</span></li>
					<li><span>恒温库恒温库</span></li>
				</ul>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>仓库地坪：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span>普通仓</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温温库</span></li>
					<li><span>恒温温库库</span></li>
					<li><span>恒温库恒温库恒温库</span></li>
					<li><span>恒温库恒温库</span></li>
				</ul>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>仓库分割：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span>普通仓</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温温库</span></li>
					<li><span>恒温温库库</span></li>
					<li><span>恒温库恒温库恒温库</span></li>
					<li><span>恒温库恒温库</span></li>
				</ul>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>仓库种类：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span>普通仓</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温温库</span></li>
					<li><span>恒温温库库</span></li>
					<li><span>恒温库恒温库恒温库</span></li>
					<li><span>恒温库恒温库</span></li>
				</ul>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<span>仓库服务：</span>
			</div>
			<div class="media-body">
				<ul>
					<li class="active"><span>不限</span></li>
					<li><span>普通仓</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温库</span></li>
					<li><span>恒温温库</span></li>
					<li><span>恒温温库库</span></li>
					<li><span>恒温库恒温库恒温库</span></li>
					<li><span>恒温库恒温库</span></li>
				</ul>
			</div>
		</div>
	</div>
	<!--    -->
	<div class="screen-body-mor" id="index_screen_mor"><i class="fa fa-long-arrow-up"></i>更多选项</div>

</div>