<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>关于我们 - 雨花区产业园信息数据共享平台</title>

		<!-- Bootstrap -->
		<link href="../../../js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../../css/common/main.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<!--   header  -->
		@@include('../../common/header.html')
		<!--   /header  -->

		<!--   breadcrumb  -->
		<div class="m-breadcrumb">
			<div class="container">
				<div class="breadcrumb-main clearfix">
					<span>当前位置：</span>
					<ol class="breadcrumb">
						<li>
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">仓储服务</a>
						</li>
						<li class="active">仓库企业</li>
					</ol>
				</div>
			</div>
		</div>
		<!--   /breadcrumb  -->
		
		<!--  关于我们     -->
		<div class="m-about">
			<div class="container">
				<div class="about-tell" id="tell">
					<div class="m-enterprise-title"><span>联系我们</span></div>
					<div class="tell-body">
						<div class="body-left">
							<img src="../../../img/common/about-map.png" />
						</div>
						<div class="body-right">
							<h3>长沙市XX物流园</h3>
							<div class="row">
								<div class="col-xs-6">
									<h4><i class="fa fa-phone-square"></i>电话</h4>
									<p>0731-88889999</p>
								</div>
								<div class="col-xs-6">
									<h4><i class="fa fa-qq"></i>QQ</h4>
									<p>13355588</p>
								</div>
								<div class="col-xs-6">
									<h4><i class="fa fa-fax"></i>传真</h4>
									<p>0731-88889999</p>
								</div>
								<div class="col-xs-6">
									<h4><i class="fa fa-envelope"></i>邮箱</h4>
									<p>777888888@qq.com</p>
								</div>
								<div class="col-xs-6">
									<h4><i class="fa fa-mobile fa-lg"></i>手机</h4>
									<p>13788889999（黄先生）</p>
									<p>13788889999（李先生）</p>
								</div>
								<div class="col-xs-6">
									<h4><i class="fa fa-map-marker fa-lg"></i>地址</h4>
									<p>长沙市雨花区</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  /关于我们     -->
		
		
		
		<!-- footer  -->
		@@include('../../common/footer.html')
		<!-- /footer  -->
		
		<script src="../../../js/common/jquery.js"></script>
		<script src="../../../js/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../js/module/warehousing/index.js"></script>
		<script src="../../../js/lib/kefu/kefu.js"></script>
		
		<script>
			$(function(){
				//   平滑滚动
				var target_offset = function(){
					if(location.hash.indexOf('#') >= 0){
						var dom_target = $(location.hash);
						var targetOffset = dom_target.offset().top;
						$('html,body').animate({
				          scrollTop: targetOffset
				        },
				        300);
					}
				}
				//  run 
				target_offset();
			});
		</script>
	</body>

</html>